html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	background-color: #f2f2f2;
	word-spacing: normal;
	letter-spacing: normal;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

input[type=number]{
-moz-appearance: textfield;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-align: center;
  vertical-align: middle;
  border: none;
	font: inherit;
	text-transform: inherit;
	cursor: pointer;
}

.main-navigation ul, 
.advantages ul,
.main-footer ul {
	list-style: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* навигация */

.site-navigation {
  font-weight: 700;
  line-height: 26px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.active {
color: #766357;
}

.welcome-photo {
	background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
  background-color: #87a7c8;
  background-repeat: no-repeat;
	background-position: bottom center, top -83px center;

	padding-top: 77px;
	padding-bottom: 76px;
	margin-bottom: 46px;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* преимущества */

.causes {
  color: #333333;
  line-height: 26px;
}

.advantages-list h3,
.features-list h4 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantages-list p {
	line-height: 21px;
}

.features-list p {
	line-height: 21px;
	color: #333333;
}

/* бронирование */

.reservation-info-title {
  font-size: 30px;
  font-weight: 700;
	line-height: 36px;
	margin: 0;
	margin-bottom: 10px;
}

.reservation-info {
  color: #333333;
  line-height: 24px;
}

.reservation-form {
  font-weight: 700;
  line-height: 26px;
}

.reservation-form input {
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  line-height: 26px;
}

.reservation-form input:hover {
  background-color: #ebebeb;
}

.reservation-form input:focus {
  background-color: #ffffff;
}

.button-search {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
}

.button-search.button:hover {
  background-color: #669ec0;
}

.button-search.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-popup {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #766357;
}

.button-popup.button:hover,
.button-popup.button:focus {
  background-color: #604e43;
}

.button-popup.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* футер */

.main-footer {
  background: rgba(255,255,255, 0.9);
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-copyright {
  line-height: 26px;
}

/* каталог */

.filter-search form {
	background-image: url("../img/filter-background.png");
	background-color: #87a7c8;
	background-repeat: no-repeat;
	background-position: 50%;
	color: #ffffff;
}

.filter-search legend{
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.choice-list li {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	list-style: none;
}

.button-show {
	background-color: transparent;
	border: solid 2px #ffffff;
	color: #ffffff;
}

.filter-search input {
	background-color: transparent;
	color: #ffffff;
}

.search-result .result {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.search-result p,
.type-result li {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.type-result li {
	list-style: none;
}

.type-result a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom:  1px dotted  #81b3d2;
}

.type-result a:hover {
	color: #81b3d2;
	border-bottom:  1px dotted #81b3d2;
}

.type-result a:focus {
	color: #000000;
	border: none;
}

.type-result a.active {
	color: #81b3d2;
	border: none;
}
.name-hotel {
  font-size: 21px;
  font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.name-hotel:hover {
  color: #81b3d2;
}

.name-hotel:focus {
  color: rgba(0, 0, 0, 0.3);
}

.details-hotel {
  color: #333333;
  line-height: 21px;
}

.button-more {
  color: #ffffff;
  font-weight: 700;
  line-height: 21px;
  background-color: #81b3d2;
}

.button-booking {
  color: #ffffff;
  font-weight: 700;
  line-height: 21px;
  background-color: #766357;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating span {
  color: #666666;
  line-height: 21px;
  background-color: #f2f2f2;
}

/* сетка */

.main-header {
	position: relative;
}

.header-logo {
	width: 140px;
	height: 71px;
	position: absolute;
	top: -1px;
	left: 530px;
}

.site-navigation {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
	padding: 15px 72px;
	background: #ffffff;
}

.site-navigation li {
	width: 23%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.points {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: auto;
}

.points h1{
	margin-bottom: 19px;
}

.points p {
	margin-bottom: 56px;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	margin-bottom: 49px;
	padding:0;
	counter-reset: advantages;
}

.advantage-item {
	background: #eeeeee;
}

.advantage-item-special {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	width: 100%;

	background: #81b3d2;
	color: #fff;
}

.advantage-item-special:first-child {
	flex-direction: row;
}

.item-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(100% / 3);
	align-items: center;
}

.item-text::before {
	counter-increment: advantages;
	content: '— №'counter(advantages)'—';
	margin-bottom: -14px;
}

.item-text p {
	width: 303px;
	margin-top: 36px;
	margin-bottom: -29px;
}

.item-text h3 {
	width: 160px;
	margin-top: -44px;
	margin-bottom: 30px;
}

.item-title {
	order: -1;
}

.features-list {
	display: flex;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #000000;
	min-height: 330px;
	width: 100%;
}

.feature-item {
	width: calc(100% / 3);
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0;
	align-items: center;
	background-repeat: no-repeat;
	background-position: 50% 60px;
}

.feature-item-1 {
	background-image: url(../img/svg-sedona/icon-1.svg);
}

.feature-item-2 {
	background-image: url(../img/svg-sedona/icon-3.svg);
}

.feature-item-3 {
	background-image: url(../img/svg-sedona/icon-2.svg);
}

.feature-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature-item h4 {
	margin-bottom: 10px;
	width: 120px;
	text-align: center;
}

.feature-item p {
	margin-bottom: 83px;
	width: 300px;
}

.advantage-item.item-text {
	min-height: 256px;
}

.reservation-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 32px;
}

.modal {
	width: 570px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin-left: 316px;
	position: relative;
	padding: 0;
	z-index: 2;
}

.button-popup {
	display: block;
	width: 568px;
	padding: 30px 130px;

}

.reservation-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 568px; 
	position: absolute;
	left: 0px;
	top: 85px;
	background-color: #ffffff;
	padding: 57px;
	padding-top: 43px;
	margin: 0;
}

.reservation-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin 0;
	margin-top: 12px;
	margin-bottom: 17px;
}

.reservation-item label {
	display: inline;
	margin-right: 20px;

}

.reservation-item input {
  display: block;
	position: relative;
	width: 346px;
	margin-top: 0;
	text-transform: uppercase;
	padding: 6px;
	appearance: none;
	margin: 0;
}

.button-calendar {
	width: 36px;
	height: 38px;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background-color: transparent;
}

.button-calendar-1  {
	position: absolute;
	top: 55px;
	left: 474px;
}

.button-calendar-2 {
	position: absolute;
	top:122px;
	left: 474px;
}

.button-calendar svg {
	fill: #cacaca;
}

.button-calendar svg:hover {
	fill: #000000;
}

.button-calendar svg:focus {
	fill: #81b3d2;
}

.quantity-adult,
.quantity-child {
	display: flex;
	justify-content: space-around;
	margin: 0;
	margin-bottom: 58px;
}

.quantity-adult label {
	display: inline;
	margin-right: 41px;
	margin-top: 20px;
}

.quantity-child label{
	display: inline;
	margin-right: 26px;
	margin-top: 20px;
}

.number-adult {
	margin-top: 12px;
	margin-left: -5px;
}

.number-child {
	margin-top: 12px;
	margin-right: -4px;
}


.number-adult input,
.number-child input {
	display: block;
	width: 114px;
	position: relative;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
}

.reduce,
.increase {
	position: absolute;
	font-size: 24px;
	z-index: 1;
	width: 38px;
	height: 38px;
	background-color: transparent;
	color: #cacaca;
}

 .number-adult .reduce{
	top: 189px;
	left: 167px;
}

.number-adult .increase {
	top: 189px;
	left: 243px;
}

.number-child .reduce {
	top: 189px;
	right: 131px;;
}

.number-child .increase {
	top: 189px;
	right: 56px;
}

.reduce:hover,
.increase:hover {
	color: #000000;
}

.reduce:focus,
.increase:focus {
	color: #81b3d2;
}

.button-search {
	width: 458px;
	padding-top: 16px;
	padding-bottom: 16px;
}


.map {
	width: 100%;
	margin: 0;
	margin-bottom: -124px;
}

map p {
	margin: 0;
}

.map iframe {
	position: relative;
	z-index: 1;
	border: none;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: 17px;
	padding-bottom: 22px;
	z-index: 2;
}

.hashtag {
	width: 138px;
	margin-left: 132px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 156px;
	margin: 0;
	margin-left: 26px;
	padding: 0;
	text-align: center;
}

.button-social {
	display: flex;
  align-items: center;
	justify-content: center;
  width: 46px;
	height: 48px;
	background: #81b3d2;
}

.button-social:hover {
	background: #669ec0;
}

.button-social:focus {
	background: #5496bd;
}

.button-social:focus path {
	opacity: 0,3;
}

.footer-copyright {
	width: 197px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 100px;
}

.footer-copyright a {
	display: block;
	padding-top: 7px;
}

.footer-copyright b {
  display: block;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-weight: 400;
}

.copyright:hover path {
	fill: #81b3d2;
}

.copyright:focus path {
	fill: #bdbbbc;
}


/* Сетка для гостиниц */

.filter-search {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 21px;
	padding-bottom: 7px;
}

.filter-form fieldset {
	border: none;
	padding: 0;
}

.column {
	min-width: 394px;
	display: flex;
	justify-content: space-between;
	margin-left: 71px;
}


.filter-choice legend {
	padding: 0;
	padding-top: 28px;
	margin: 0;
	margin-bottom: 24px;
	width: 100%;
	text-align: left;
}

.choice-list {
	margin: 0;
	padding: 0;
	text-align: left;
}

.choice-item {
	margin-bottom: 25px;
}

.check-input {
-webkit-appearance: none;
position: absolute;
}

.check-box {
	position: absolute;
	width:23px;
	height: 23px;
	background-image: url(../img/svg-sedona/checkbox-off.svg);
	margin-left: -40px;
}

.check {
	margin-left: 40px;
}

.check-input:checked + .check-box {
	background-image: url(../img/svg-sedona/checkbox-on.svg);
}

.check-input:disabled + .check-box {

}

.filter-range {
	width: 330px;
	margin: 0;
	padding: 0;
	margin-right: 59px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	padding-top: 27px;
	text-align: left;
}

.price-controls {
  position: relative;
  display: flex;
	min-height: 36px;
	width: 317px;
	margin-bottom: 21px;
	justify-content: space-around;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
	width: 330px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 77%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 77%;
}

.btn-transparent {
  display: block;
  margin-left: 84px;
  padding: 6px 35px;
	font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.search-result {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 19px;
}

.type-result {
	display: flex;
	justify-content: space-between;
}

.result {
	margin: auto;
	margin-left: 72px;
}

.sort {
	margin-left: 49px;
	font-size: 12px;
	align-self: center;
}

.sort-list {
	display: flex;
	justify-content: space-between;
	min-width: 278px;
}

.traffic-list {
	margin: auto;
	margin-right: 73px;
}

.traffic-list a:first-child {
	margin-right: 7px;
}

.traffic-list path {
	fill:  #cacaca;
}

.traffic-list a:hover path{
	fill: #000000;
}

.traffic-list a:focus path{
	fill: #81b3d2;
}

.traffic-list a.active path{
	fill: #81b3d2;
}

.hotel-item {
	display: flex;
	width: 100%;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-item img {
	margin-left: 43px;
}

.hotel-info {
	width: 258px;
	display: block;
	margin-left: 30px;
}

.details-hotel {
	font-size: 0;
}

.first-detail {
	width: 110px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	margin-right: 6px;
}

.second-detail {
	width: 142px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}

.button-more {
	display: inline-block;
	vertical-align: top;
	width: 110px;
	padding: 3px;
	margin-top: 16px;
}

.button-booking {
	display: inline-block;
	vertical-align: top;
	width: 142px;
	padding: 3px;
	margin-top: 16px;
	margin-left: 2px;
}

.hotel-info h3 {
	margin: 0;
	position: relative;
	top: -5px;
	text-align: left;
}

.rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin-right: 42px;
	margin-left: auto;
}

.star-rating {
	background-image: url(../img/svg-sedona/star.svg);
	background-repeat: space;
	height: 17px;
}

.star-rating.rating-2 {
	width: 107px;
}

.star-rating.rating-4 {
	width: 89px;
}

.star-rating.rating-3 {
	width: 65px;
}

.star-rating.rating-2 {
	width: 41px;
}

..star-rating.rating-1 {
	width: 18px;
}

.rating span {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 13px;
}
