html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	text-transform: uppercase;
	text-align: center;

	color: #000000;
	background-color: #f2f2f2;

	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

input[type=number]{
-moz-appearance: textfield;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	text-align: center;
	vertical-align: middle;
	border: none;
	font: inherit;
	text-transform: inherit;
	cursor: pointer;
}

.main-navigation ul, 
.advantages ul,
.main-footer ul {
	list-style: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;

	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* навигация */

.main-header {
	position: relative;
}

.header-logo {
	position: absolute;
	top: -1px;
	left: 530px;

	width: 140px;
	height: 71px;
}

.site-navigation {
	display: flex;
	justify-content: space-around;

	width: 100%;
	margin: 0;
	padding: 15px 72px;

	background: #ffffff;

	font-weight: 700;
	line-height: 26px;
}

.site-navigation li {
	width: 23%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
	text-align: left;
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a:hover {
	 color: #81b3d2;
}

.site-navigation a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.active {
	color: #766357;
}

.welcome-photo {
	padding-top: 77px;
	padding-bottom: 76px;
	margin-bottom: 46px;
	background-color: #d4e5ef;
	background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-position: bottom center, top -83px center;
}

h1 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.points {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	width: auto;
}

.points h1{
	margin-bottom: 19px;
}

.points p {
	margin-bottom: 56px;

	color: #333333;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	counter-reset: advantages;
}

.advantages-list h3,
.features-list h4 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantages-list p {
	line-height: 21px;
}

.advantage-item {
	background: #eeeeee;
}

.advantage-item-special {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;

	width: 100%;

	background: #81b3d2;
	color: #fff;
}

.advantage-item-special:first-child {
	flex-direction: row;
}

.item-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: calc(100% / 3);
	padding-top: 21px;
	padding-bottom: 39px;
}

.item-text::before {
	counter-increment: advantages;
	content: '— №'counter(advantages)'—';
	/* margin-bottom: -14px; */
}

.item-text p {
	width: 303px;
	/* margin-top: 36px;
	margin-bottom: -29px; */
}

.item-text h3 {
	order: -1;
	width: 160px;
	/* margin-top: -44px;
	margin-bottom: 30px; */
}
/* 
.item-title {
	order: -1;
} */

.features-list {
	display: flex;

	margin: 0;
	padding: 0;
	min-height: 330px;
	width: 100%;

	background-color: #ffffff;
	color: #000000;
}

.features-list p {
	color: #333333;

	line-height: 21px;
}

.feature-item {
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	width: calc(100% / 3);
	padding: 0;

	background-repeat: no-repeat;
	background-position: 50% 60px;
}

.feature-item-1 {
	background-image: url(../img/svg-sedona/icon-1.svg);
}

.feature-item-2 {
	background-image: url(../img/svg-sedona/icon-3.svg);
}

.feature-item-3 {
	background-image: url(../img/svg-sedona/icon-2.svg);
}

.feature-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 128px;
	padding-bottom: 69px;
}

.feature-item h4 {
	width: 120px;
	margin-bottom: 10px;
}

.feature-item p {
	width: 300px;
}

.advantage-item.item-text {
	min-height: 256px;
}

.reservation-info {
	margin-bottom: 47px;

	color: #333333;

	line-height: 24px;
}

.reservation-info-title {
	margin: 0;
	margin-bottom: 23px;

	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.modal {
	z-index: 2;
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	width: 570px;
	margin: 0 auto;
	padding: 0;
}

.button-popup {
	display: block;

	width: 568px;
	padding: 30px 130px;

	color: #ffffff;
	background-color: #766357;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.button-popup.button:hover {
	background-color: #604e43;
}

.button-popup.button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.reservation-form {
	position: absolute;
	left: 0px;
	top: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	padding: 57px;
	padding-top: 43px;
	margin: 0;

	background-color: #ffffff;

	font-weight: 700;
	line-height: 26px;
}

@keyframes lift-up {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(-300px);
	}
}

.reservation-form-hide {
	display: none;
	animation-name: lift-up;
	animation-duration: 2s;
}

.reservation-form-show {
	display: block;
}

.reservation-form input {
	border: none;

	background-color: #f2f2f2;

	font-weight: 700;
	line-height: 26px;
}

.reservation-form input:hover {
	background-color: #ebebeb;
}

.reservation-form input:focus {
	background-color: #ffffff;
}

.reservation-item {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	width: 100%;
	margin-top: 12px;
	margin-bottom: 17px;
}

.reservation-item label {
	display: inline;

	margin-right: 20px;
}

.reservation-item input {
	position: relative;

	display: block;

	width: 346px;
	height: 38px;
	margin: 0;

	text-transform: uppercase;
	appearance: none;
}

.button-calendar {
	width: 36px;
	height: 38px;
	padding: 0;
	margin: 0;

	border: none;
	outline: none;
	background-color: transparent;
}

.button-calendar-1  {
	position: absolute;
	top: 55px;
	left: 474px;
}

.button-calendar-2 {
	position: absolute;
	top:122px;
	left: 474px;
}

.button-calendar svg {
	fill: #cacaca;
}

.button-calendar svg:hover {
	fill: #000000;
}

.button-calendar svg:focus {
	fill: #81b3d2;
}
/* Не работает фокус */
.quantity-adult,
.quantity-child {
	display: flex;
	justify-content: space-around;

	margin: 0;
	margin-bottom: 54px;
}

.quantity-adult label {
	display: inline;

	margin-right: 41px;
	margin-top: 20px;
}

.quantity-child label{
	display: inline;

	margin-right: 26px;
	margin-top: 20px;
}

.number-adult {
	position: relative;

	margin-top: 12px;
	margin-left: -5px;
}

.number-child {
	position: relative;

	margin-top: 12px;
	margin-right: -4px;
}


.number-adult input,
.number-child input {
	display: block;

	width: 114px;
	height: 38px;

	text-transform: uppercase;
	text-align: center;
}

.reduce,
.increase {
	z-index: 1;
	position: absolute;

	width: 38px;
	height: 38px;

	background-color: transparent;
	color: #cacaca;
	font-size: 24px;
}

 .number-adult .reduce,
 .number-child .reduce {
	top: 0px;
	left: 0px
}

.number-adult .increase,
.number-child .increase {
	top: 0px;
	right: 0px;
}

.reduce:hover,
.increase:hover {
	color: #000000;
}

.reduce:focus,
.increase:focus {
	color: #81b3d2;
}

.button-search {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;

	color: #ffffff;
	background-color: #81b3d2;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.button-search.button:hover {
	background-color: #669ec0;
}

.button-search.button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.map {
	position: relative;
	width: 100%;
	margin: 0;
	margin-bottom: -124px;
}

.map p {
	margin: 0;
}

.map iframe {
	position: relative;
	z-index: 1;

	border: none;
	
}

.main-footer {
	position: relative;
	z-index: 2;

	display: flex;
	justify-content: space-around;
	align-items: center;

	padding-top: 17px;
	padding-bottom: 22px;

	background: rgba(255,255,255, 0.9);
}

.main-footer > * {
	width: calc(100%/3);
}

.hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: 0;
	padding: 0;

	text-align: center;
}

.button-social {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 46px;
	height: 48px;

	background: #81b3d2;
}

.footer-social li {
	margin-right: 6px;
}

.button-social:hover {
	background: #669ec0;
}

.button-social:focus {
	background: #669ec0;
}

.button-social:focus path {
	fill-opacity:  0.3;
}

.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;

	line-height: 26px;
}

.footer-copyright a {
	display: block;

	padding-top: 8px;
}

.footer-copyright b {
	display: block;

	margin-right: 8px;

	text-align: center;

	color: #000000;

	font-weight: 400;
	font-size: 14px;
}

.copyright:hover path {
	fill: #81b3d2;
}

.copyright:focus path {
	fill: #bdbbbc;
}


/* каталог */


.filter-search {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-form {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin-bottom: 23px;
	padding: 0 70px 7px 70px;

	background-color: #87a7c8;
	background-image: url("../img/filter-background.png");
	background-repeat: no-repeat;
	background-position: 50%;
	color: #ffffff;
}

.filter-form fieldset {
	border: none;
	padding: 0;
}

.filter-form legend{
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.column {
	display: flex;
	justify-content: space-between;

	min-width: 394px;
}

.filter-choice legend {
	width: 100%;
	padding: 0;
	padding-top: 28px;
	margin: 0;
	margin-bottom: 24px;

	text-align: left;
}

.choice-list {
	margin: 0;
	padding: 0;

	text-align: left;

	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	list-style: none;
}

.choice-item {
	margin-bottom: 25px;
}

.check-input {
	position: absolute;

	width: 1px;
	height: 1px;

	overflow: hidden;
	clip: rect(0 0 0 0);
}

.check-box {
	position: absolute;

	width:25px;
	height: 25px;
	margin-left: -40px;

	background-image: url(../img/svg-sedona/checkbox-off.svg);
	background-repeat: no-repeat;
}

.check {
	margin-left: 40px;
}

.check-input:focus + .check-box {
	box-shadow:
		0 0 0 0.1em #4A90E2,
		0 0 0 0.2em #7ED321;
}

.check-input:checked + .check-box {
	background-image: url(../img/svg-sedona/checkbox-on.svg);
}

.check-input:disabled + .check-box {
	background-image: url(../img/svg-sedona/checkbox-off-disabled.svg);
}

.check-input:checked:disabled + .check-box {
	background-image: url(../img/svg-sedona/checkbox-on-disabled.svg);
}


.filter-range {
	width: 318px;
	margin: 0;
	padding: 0;

	text-transform: uppercase;

	color: #ffffff;
}

.filter-range-title {
	margin-bottom: 10px;
	padding-top: 27px;

	text-align: left;
}

.price-controls {
	position: relative;

	display: flex;
	text-transform: uppercase;
	
	min-height: 36px;
	width: 100%;
	margin-bottom: 21px;

	border: 2px solid #ffffff;
	border-radius: 2px;

	font-size: 0;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	cursor: pointer;

	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 50%;
	margin-left: 30px;
}

.price-controls input {
	width: 50px;
	height: 32px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	width: 100%;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 79%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 20px;
	height: 20px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 79%;
}

.button-transparent {
	display: block;

	margin-left: 82px;
	padding: 6px 35px;

	text-transform: uppercase;
	cursor: pointer;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
}

.button-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.search-result {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin-bottom: 19px;
	padding: 0 72px;
}

.type-result {
	display: flex;
	justify-content: space-between;

	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.result {
	margin: auto;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.sort {
	margin-left: 49px;

	align-self: center;
}

.type-result a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom:  1px dotted #81b3d2;
}

.type-result a:hover {
	color: #81b3d2;
	border-bottom:  1px dotted #81b3d2;
}

.type-result a:focus {
	color: #000000;
	border: none;
}

.type-result a.active {
	color: #81b3d2;
	border: none;
}

.sort-list {
	display: flex;
	justify-content: space-between;

	min-width: 278px;

	list-style: none;
}

.traffic-list a:first-child {
	margin-right: 7px;
}

.traffic-list path {
	fill:  #cacaca;
}

.traffic-list a:hover path{
	fill: #000000;
}

.traffic-list a:focus path{
	fill: #81b3d2;
}

.traffic-list a.active path{
	fill: #81b3d2;
}

.hotel-item {
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 30px 72px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 258px;
	margin-left: 30px;
}

.hotel-info h3 {
	position: relative;
	top: -5px;

	margin: 0;
	margin-bottom: 5px;

	text-align: left;

	color: #000000;

	font-size: 21px;
  font-weight: 700;
	line-height: 26px;
}

.name-hotel:hover {
	color: #81b3d2;
}

.name-hotel:focus {
	color: rgba(0, 0, 0, 0.3);
}

.details-hotel {
	font-size: 0;
}

 .first-detail,
.second-detail {
	display: inline-block;

	text-align: left;
	vertical-align: top;

	font-size: 14px;
	margin-right: 6px;
}

.second-detail{
	width: 132px;
}

.first-detail {
	width: 110px;
} 

 .button-more,
.button-booking {
	display: inline-block;
	vertical-align: top;

	padding: 3px 17px;
	margin-top: 16px;

	color: #ffffff;
	font-weight: 700;
	line-height: 21px;
}

.button-more {
	min-width: 110px;
	background-color: #81b3d2;
}

.button-booking {
	min-width: 142px;
	background-color: #766357;
} 

.button-more:hover {
	background-color: #669ec0;
}

.button-more:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.button-booking:hover {
	background-color: #604e43;
}

.button-booking:focus {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;

	margin-left: auto;
}

.star-rating {
	height: 17px;

	background-image: url(../img/svg-sedona/star.svg);
	background-repeat: space;
}

.star-rating.rating-5 {
	width: 107px;
}

.star-rating.rating-4 {
	width: 89px;
}

.star-rating.rating-3 {
	width: 65px;
}

.star-rating.rating-2 {
	width: 41px;
}

.star-rating.rating-1 {
	width: 18px;
}

.rating span {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 14px;

	color: #666666;
	line-height: 21px;
	background-color: #f2f2f2;
}