html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	background-color: #f2f2f2;
}

img {
	max-width: 100%;
}

a {
  text-decoration: none
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-align: center;
  vertical-align: middle;
  border: none;
	font: inherit;
	text-transform: inherit;
}

.main-navigation ul, 
.advantages ul,
.main-footer ul {
	list-style: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
}

/* навигация */

.site-navigation {
  font-weight: 700;
  line-height: 26px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.active {
color: #766357;
}

.main-header {
	background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
  background-color: #87a7c8;
  background-repeat: no-repeat;
	background-position: bottom center, top center;
	border: 0;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* преимущества */

.causes {
  color: #333333;
  line-height: 26px;
}

.advantages-list h3,
.features-list h4 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantages-list p {
	line-height: 21px;
}

.features-list p {
	line-height: 21px;
	color: #333333;
}

/* бронирование */

.reservation-info span {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.reservation-info {
  color: #333333;
  line-height: 24px;
}

.reservation-form {
  font-weight: 700;
  line-height: 26px;
}

.reservation-form input {
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  line-height: 26px;
}

.reservation-form input:hover {
  background-color: #ebebeb;
}

.reservation-form input:focus {
  background-color: #e5e5e5;
}

.button-search {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
}

.button-search.button:hover {
  background-color: #669ec0;
}

.button-search.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-popup {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #766357;
}

.button-popup.button:hover,
.button-popup.button:focus {
  background-color: #604e43;
}

.button-popup.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* футер */

.main-footer {
  background: rgba(255,255,255, 0.9);
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-copyright {
  line-height: 26px;
}

/* каталог */

.filter-search form {
	background-image: url("../img/filter-background.png");
	background-color: #87a7c8;
	background-repeat: no-repeat;
	background-position: 50%;
	background-repeat: no-repeat;
	color: #ffffff;
}

.filter-search legend{
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.filter-choice li {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	list-style: none;
}

.button-show {
	background-color: transparent;
	border: solid 2px #ffffff;
	color: #ffffff;
}

.filter-search input {
	background-color: transparent;
	color: #ffffff;
}

.search-result .result {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.search-result p,
.type-result li {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.type-result li {
	list-style: none;
}

.type-result a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom:  1px dotted  #81b3d2;
}

.type-result a:hover {
	color: #81b3d2;
	border-bottom:  1px dotted #81b3d2;
}

.type-result a:focus {
	color: #000000;
	border: none;
}

.type-result a.active {
	color: #81b3d2;
	border: none;
}
.name-hotel {
  font-size: 21px;
  font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.name-hotel:hover {
  color: #81b3d2;
}

.name-hotel:focus {
  color: rgba(0, 0, 0, 0.3);
}

.details-hotel {
  color: #333333;
  line-height: 21px;
}

.button-more {
  color: #ffffff;
  font-weight: 700;
  line-height: 21px;
  background-color: #81b3d2;
}

.button-booking {
  color: #ffffff;
  font-weight: 700;
  line-height: 21px;
  background-color: #766357;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating span {
  color: #666666;
  line-height: 21px;
  background-color: #f2f2f2;
}

/* сетка */

.main-header {
	position: relative;
}

.welcome-photo {
	padding-bottom: 79px;
}

.main-navigation {
	display: flex;
	flex-direction: column;
  align-items: center;
}

.header-logo {
	width: 140px;
	height: 71px;
	position: absolute;
	margin-top: -1px;
}

.site-navigation-wrapper {
 margin-bottom: 76px;
	width: 100%;
	background: #ffffff;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.points h1 {
	margin-bottom: 29px;
	margin-top: 60px;
}

.advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 57px;
}

.advantages-list {
	margin: 0;
}

.advantage-item {
	background: #81b3d2;
}

.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.special-items {
	background: #eeeeee;
}

.reservation {
	width: 568px;
	margin-left: 316px;
}

.reservation-info {
	margin-bottom: 52px;
}

.reservation-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.map {
	width: 100%;
	margin: 0;
}

.main-footer {
	display: flex;
	margin-top: 36px;
}

.hashtag {
	width: 136px;
	margin-left:132px;
	margin-right: 256px;
}

.footer-social{
	text-align: center;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	margin-top: auto;
	padding: 0;
}

.button-social {
	display: flex;
  align-items: center;
	justify-content: center;
  width: 46px;
	height: 48px;
	background: #81b3d2;
}

.button-social:hover {
	background: #669ec0;
}

.button-social:focus {
	background: #5496bd;
}

.button-social:focus path {
	opacity: 0,3;
}

.footer-copyright {
	width: 197px;
	margin-right: 101px;
	margin-left: 228px;
}

.footer-copyright a {
  display: block;
}

.footer-copyright b {
  display: block;
	margin-bottom: 15px;
	font-size: 14px;
	color: #000000;
	font-weight: 400;
}

.copyright:hover path {
	fill: #81b3d2;
}

.copyright:focus path {
	fill: #bdbbbc;
}






